<!DOCTYPE html>
<html>
  <head>
    <title>Plant List</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>List of Plants</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Scientific Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <% plants.forEach(function(plant) { %>
        <tr>
          <td><a href="<%= plant.url %>"><%= plant.name %></a></td>
          <td><%= plant.scientificName %></td>
          <td><%= plant.description %></td>
          <td><%= plant.category ? plant.category.name : 'N/A' %></td>
          <td>$<%= plant.price.toFixed(2) %></td>
          <td><%= plant.numberInStock %></td>
          <td>
            <% if (plant.image) { %>
            <img src="<%= plant.image %>" alt="<%= plant.name %>" width="100" />
            <% } else { %> No Image <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <footer>
      <a href="/">Back to Home</a>
    </footer>
  </body>
</html>
